extends ../layout

block content
    .form 
      form( action=`/books/create` autocomplete='off' method='POST')
        label(for='title') title
        input(name='title'  type='text' )
        br
        label(for='author') author
        input(name='author'  type='text' )
        br
        label(for='comments') comments
        input(name='comments'  type='text' )
        br
        br
        input(type='submit' value='Submit')

    a(href=`/books`) home

      