<%#  delete listing Modal %>

<div class="modal fade" id="deleteListing" tabindex="-1" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Are You Sure ??</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form class="btn-group" action="/listings/destroy/<%= listing._id%>" method="post">
          <button class="btn btn-outline-danger" data-bs-custom-class="custom-tooltip" data-bs-placement="top" data-bs-toggle="tooltip" data-bs-title="delete" >
            <i data-feather="trash"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>