extends layout

block content
  h1= title
  p Wel-come to #{title}
  a(href="/about") about
  a(href="/books") books
  .img
    img(src="./images/angle.jpg", alt="", srcset="", )
  if (name && age)
    h2 Wel-come  #{name} #{age}
    
  else 
    form(action='/' method="post")
      label(for='name') name:
      br
      input#name(type='text' name='name' )
      br
      label(for='age') age:
      br
      input#age(type='text' name='age' )
      br
      br
      input(type='submit' value='Submit')
