<%- include('./inc/header'); -%>

	<div class="container">	
		<div class="row my-3">
		<div class="col-12 text-center">
			<div class="img-contaier ">				
				<img 
					class="img-fluid img-thumbnail" src="./images/angle.jpg" 
					alt="angle" style="width: 10rem;"  />
			</div>
		</div>
			
		</div>
	</div>
<%- include('./inc/footer'); -%>
