extends ../layout

block content
    if (msg == 'error')
      if errors.name
        h3 #{errors.name.message} 
      if errors.email
        h3 #{errors.email.message}
      if errors.password
        h3 #{errors.password.message}   
    else
    .form 
      form( action=`/users/dashboard` autocomplete='off' method='POST')
        label(for='name') name
        input(name='name'  type='text' )
        br
        label(for='email') email
        input(name='email'  type='email' )
        br
        label(for='password') password
        input(name='password'  type='text' )
        br
        br
        input(type='submit' value='Submit')

    a(href=`/books`) home

      